Makefile
obj/*
CMOD/src/ALTERNATE/
CMOD/src/Event.h0
CMOD/src/severNote
Documents/DetailedDoc/
Documents/ForClass/
Documents/ResIn18/
Documents/Research/
UpgradeProjectFormat.make
UpgradeProjectFormat
cmod
cmod.make
lass.make
lassie
lassie.make
lcmod.make
muparser.make
parser.make
lib/*
docs

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
